<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- services -->
    <context:property-placeholder location="classpath:session13/conf.properties"/>
    <context:component-scan base-package="session13"/>
    <!--bean id="man1" class="session13.Man">
        <constructor-arg value = "${name}"/>
        <constructor-arg value = "3"/>


        <property name="itemDao" ref="itemDao"/>
        < additional collaborators and configuration for this bean go here >
    </bean>

    <bean id= "company" class = "session13.Company">
        <constructor-arg value = "${companyName}"/>
        <constructor-arg ref = "car"/>
        <constructor-arg  value = "man1"/>
        <property  name = "capital" value = "${fond}"/>
    </bean>
    <bean id= "car" class = "session13.Car">
        <constructor-arg value = "${color}"/>
        <constructor-arg ref = "man1"/>

    </bean-->
</beans>