input {
    tab-size: 35;
    height: 30px;
}
a {
    margin: 5;
    font-size: 18;
}
img {
    width: 300;
    height: 150;
}
h2 {
    color: #ff0000;
}
h6 {
    color: #ffffff;
}
.button {
    border: 1px solid #000000;
    width: 70;
    height: 30;
    margin: 5px;
}
p {
    font-size: 18;
}
div {
    border: 2px solid #000000;
    border-radius: 25px;
    align-content: center;
    padding: 15px;
    width: 300px;
    height: 150px;
}