.img_wrapper{
    width:10000px;
    height:10000px;
    position: relative;
    padding-top: 75%;
    overflow: hidden;
}

.img_wrapper img{
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
}