<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="director" class="session13.impls.SonyDirector">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="car" class="session13.impls.SonyDirector">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    <bean id="company" class="session13.impls.SonyCompany">
    <!-- collaborators and configuration for this bean go here -->
    </bean>
</beans>