<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="man1" class="session14.Man">
        <constructor-arg value="3"/>
        <property name="name" value= "Viliam"/>
    </bean>

    <bean id="car" class="session14.Car">
        <constructor-arg ref="man1"/>
        <property name="color" value= "Pink"/>
    </bean>

    <bean id="company" class="session14.Company">
        <constructor-arg ref="car"/>
        <constructor-arg ref="man1"/>
        <property name="name" value= "Samsung"/>
    </bean>

</beans>