<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:session13/task1/conf.properties"/>

    <bean id="man1" class="session13.task1.Man">
        <constructor-arg value="40"/>
        <constructor-arg value="${directorName}"/>
    </bean>
    <bean id="car1" class="session13.task1.Car">
        <constructor-arg value="BMW"/>
        <constructor-arg value="${carColor}"/>
        <constructor-arg ref="man1"/>
    </bean>

    <bean id="company1" class="session13.task1.Company">
        <constructor-arg value="${companyName}"/>
        <constructor-arg value="${charterCapital}"/>
        <constructor-arg ref="car1"/>
    </bean>

</beans>